.box {
    display: flex+200px;
    max-width: 600px;
    margin: auto;
    border: 50px ridge rgb(197, 137, 238);
    background-color: rgb(244, 236, 209);
    border-radius: 4px;
    padding: 2px;
    margin: auto;
}

.button {
    
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border-width: 3px;
    margin: auto;
    margin-bottom: 15px;
    display:table;
    background-color: rgb(205, 236, 252);

}
.button.restart{
    display: none;
    background-color: rgb(221, 167, 248);
}


.box img {
    padding: 20px;
    margin: auto;
    display: flex;
}